{% extends 'main.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/bottcamp.css' %}">
{% endblock css %}
{% block body %}
<div id="div_1">
    <h1 class="div_1_h1">6 months in-House </h1>
    <h1 class="div_1_h1">Bootcamp</h1>
    <h1 class="div_1_h1">Program - kadr. </h1>
    <div class="chid_divs" id="dd1">Start : On 11/Nov/2025</div>
    <div class="chid_divs" id="dd">Placement Assistence</div>
    <div id="price_div">Price $59000 <sub>[$50000 + 18% gst]</sub></div>
    <div id="div_1_4">Seat Are Full</div>
</div>
<div id="div_2">
    <iframe src="https://www.youtube.com/embed/pOGLAlGCKFE?si=lp4FPHtxYbr_4sj6?autoplay=1&vq=hd720" height="100%" width="100%"></iframe>
</div>
<div id="div_3">
    We believe in,
    <br> <span id="div_3_span">Consistency</span> No shortcuts.
</div>
<div id="div_4">
    <div class="div_4_childs">MERN Stack</div>
    <div class="div_4_childs">Data Structure & Algorithm</div>
    <div class="div_4_childs">DBMS-SQL</div>
    <div class="div_4_childs">CORE CS SUBJECT</div>
    <div class="div_4_childs">Placement Assistance</div>
</div>
<div id="div_5">NON STOP <span id="div_5_span">5 HOURS</span> CODING <h6 id="div_5_h6">[EVERY DAY]</h6></div>
<div id="div_6">Monday To Saturday. 11:00 AM To 4:00 Pm</div>
<div id="div_7"><h1 id="div_7_h1">Dominate.</h1><h3 id="div_7_h3">From Start To Victory</h3></div>
<div class="divcon" id="list1">HTML/CSS</div>
<div class="divcon" id="list2">javaScript</div>
<div class="divcon" id="list3">React Js</div>
<div class="divcon" id="list4">Data structure and Algorithm(DSA)</div>
<div class="divcon" id="list5">Node.js and Express[Backend]</div>
<div class="divcon" id="list6">Databases</div>
<div class="divcon" id="list7">Git/GitHub</div>
<div class="divcon" id="list8">DeveOps and Depolyment</div>
<div class="divcon" id="list9">Additional Topic</div>
<div id="div_13">
    <div class="fot_div" id="div_13_1">
        <img src="{% static 'Sheryians_logo_EzwgcppnD.webp' %}" alt="" id="foot_img">
        <p id="para">Let's connect with our socials</p>
    </div>
    <div class="fot_div" id="div_13_2">
        <h3 class="h3_c">COMPANY</h3>
        <a href="#" class="a">About Us</a>
        <a href="#" class="a">Support</a>
        <a href="#" class="a">Privacy Policy</a>
        <a href="#" class="a">Terms and Condition</a>
        <a href="#" class="a">Pricing and refund</a>
        <a href="#" class="a">Hire From Us</a>
        <a href="#" class="a">Bug Bounty</a>
    </div>
    <div class="fot_div" id="div_13_3">
        <h3 class="h3_c">COMMUNITY</h3>
        <a href="#" class="a">Inertia</a>
        <a href="#" class="a">Discord</a>
    </div>
    <div class="fot_div" id="div_13_4">
        <h3 class="h3_c">Get In Touch</h3>
        <a href="#" class="a">+91 8109161752,</a>
        <a href="#" class="a">+91 9691778470</a>
        <a href="#" class="a">hello@sheryians.com</a><a href="#" class="a">23-B.Indrapiri Sector</a>
    </div>
</div>
<footer id="footer"><pre id="footer_pre">Copyright@ 2024 Shreyians Pvt.Ltd.
    All Right Reserved.
</pre></footer>
{% endblock body %}
