{% extends 'main.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/course.css' %}">
{% endblock css %}
{% block body %}
<div id="div_1">
    <h1 id="div1_h1">We're not a <span id="div1_span">course factory.</span></h1>
    <h3 id="div1_h3">we focus on courses that really help.</h3>
</div>
<div id="div_2">
    Courses which do work
</div>
<div id="div_3">
    {% for i in data %}
    <div id="div_9">
        <div id="img_div">
            <img src="{{ i.img.url }}" alt="" id="img1">
        </div>
        <div id="contant">
            <h2 id="contant_h2">{{ i.name }}Create Anything with Code</h2>
            <div id="lang">{{ i.lang }}</div>
            <h3 id="lim_h5">Limited Time Discount</h3>
            <div id="price_div">{{ i.price }}  <strike>$9999</strike></div>
            <div id="offer_div">50% off</div>
            <div id="view_details">View Details</div>
        </div>  
    </div>
    {% endfor %}
</div>
<div id="div_13">
    <div class="fot_div" id="div_13_1">
        <img src="{% static 'Sheryians_logo_EzwgcppnD.webp' %}" alt="" id="foot_img">
        <p id="para">Let's connect with our socials</p>
    </div>
    <div class="fot_div" id="div_13_2">
        <h3 class="h3_c">COMPANY</h3>
        <a href="#" class="a">About Us</a>
        <a href="#" class="a">Support</a>
        <a href="#" class="a">Privacy Policy</a>
        <a href="#" class="a">Terms and Condition</a>
        <a href="#" class="a">Pricing and refund</a>
        <a href="#" class="a">Hire From Us</a>
        <a href="#" class="a">Bug Bounty</a>
    </div>
    <div class="fot_div" id="div_13_3">
        <h3 class="h3_c">COMMUNITY</h3>
        <a href="#" class="a">Inertia</a>
        <a href="#" class="a">Discord</a>
    </div>
    <div class="fot_div" id="div_13_4">
        <h3 class="h3_c">Get In Touch</h3>
        <a href="#" class="a">+91 8109161752,</a>
        <a href="#" class="a">+91 9691778470</a>
        <a href="#" class="a">hello@sheryians.com</a><a href="#" class="a">23-B.Indrapiri Sector</a>
    </div>
</div>
<footer id="footer"><pre id="footer_pre">Copyright@ 2024 Shreyians Pvt.Ltd.
    All Right Reserved.
</pre></footer>
{% endblock body %}
