{% extends 'main.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock css %}

{% block body %}
<div id="main_div">
    <h1 class="h1" id="f_hd">We only <span id="span">teach</span><h1 class="h1" id="s_hd">what we are really</h1> <h1 class="h1" id="t_hd">really good at.</h1></h1>
</div>
<div id="div2">
    <a href="{% url 'project:course' %}" id="course">Check Course-Make an Impact</a>
</div>
<div id="div3_side">
    Get ready to <span id="div3_span">accelerate your career</span> with customized courses and leave your mark in the tech industry
</div>
<div id="div4">
    <div class="ch_divs" id="div4_1">
        <h1 class="h_sub">25K+</h1>
        <p class="p">Student taught</p>
    </div>
    <div class="ch_divs" id="div4_2">
        <h1 class="h_sub">25+</h1>
        <p class="p">Instructors</p>
    </div>
    <div class="ch_divs" id="div4_3">
        <h1 class="h_sub">431K+</h1>
        <p class="p">Youtube Subs.</p>
    </div>
</div>
<div id="div_5">
    <pre>we do whatever it takes to help your
<span id="pre_span">understand the concepts.</span>
    </pre>
</div>
<div id="div_6">
    <iframe id="iframe_div_6" src="https://www.youtube.com/embed/60SRAWmMXyc" frameborder="0"></iframe>
</div>
<div id="div_7">
    Explore free learning
</div>
<div id="div_8">
    Courses Offered 
</div>
<div id="card_flex">
    <div id="div_9">
        <div id="img_div">
            <img src="{% static 'Front-End_Domination__Create_Anything_with_Code-FRONTENDTHUBNAIL_Wf8WqcNJx.webp' %}" alt="" id="img1">
        </div>
        <div id="contant">
            <h2 id="contant_h2">Front-End Domination:Create Anything with Code</h2>
            <div id="lang">Hindi</div>
            <h3 id="lim_h5">Limited Time Discount</h3>
            <div id="price_div">$4999  <strike>$9999</strike></div>
            <div id="offer_div">50% off</div>
            <div id="view_details">View Details</div>
        </div>  
    </div>
    <div id="div_10">
        <div id="image_div">
            <img src="{% static 'undefined-backend_0.5x_Medium_wgHDU-5rPt.webp' %}" alt="" id="image1">
        </div>
        <div id="content">
            <h2 id="cont_h2">Back-End Domination:Create Efficient Back-End</h2>
            <div id="language">Hindi</div>
            <h3 id="limed_h5">Limited Time Discount</h3>
            <div id="priced_div">$4999 <strike>$9999</strike></div>
            <div id="offers_div">50% off</div>
            <div id="viewed_details">View Details</div>
        </div>  
    </div>
    <div id="div_11">
        <div id="i_div">
            <img src="{% static 'kp.webp' %}" alt="" id="imag1">
        </div>
        <div id="contt">
            <h2 id="cnt_h2">Aptitude & Reasoning for Campus Placements</h2>
            <div id="lanage">Hindi</div>
            <h3 id="led_h5">Limited Time Discount</h3>
            <div id="prid_div">$999 <strike>$1500</strike></div>
            <div id="offs_div">33% off</div>
            <div id="vied_details">View Details</div>
        </div>
    </div>
</div>
<div id="div_12">
    <h1 id="h1_com">Top <span id="span_com">Companies</span> our student working with</h1>
    <img src="{% static 'companies_CcvVE6pUo.webp' %}" alt="" id="img_com">
</div>
<div id="div_13">
    <div class="fot_div" id="div_13_1">
        <img src="{% static 'Sheryians_logo_EzwgcppnD.webp' %}" alt="" id="foot_img">
        <p id="para">Let's connect with our socials</p>
    </div>
    <div class="fot_div" id="div_13_2">
        <h3 class="h3_c">COMPANY</h3>
        <a href="#" class="a">About Us</a>
        <a href="#" class="a">Support</a>
        <a href="#" class="a">Privacy Policy</a>
        <a href="#" class="a">Terms and Condition</a>
        <a href="#" class="a">Pricing and refund</a>
        <a href="#" class="a">Hire From Us</a>
        <a href="#" class="a">Bug Bounty</a>
    </div>
    <div class="fot_div" id="div_13_3">
        <h3 class="h3_c">COMMUNITY</h3>
        <a href="#" class="a">Inertia</a>
        <a href="#" class="a">Discord</a>
    </div>
    <div class="fot_div" id="div_13_4">
        <h3 class="h3_c">Get In Touch</h3>
        <a href="#" class="a">+91 8109161752,</a>
        <a href="#" class="a">+91 9691778470</a>
        <a href="#" class="a">hello@sheryians.com</a><a href="#" class="a">23-B.Indrapiri Sector</a>
    </div>
</div>
<footer id="footer"><pre id="footer_pre">Copyright@ 2024 Shreyians Pvt.Ltd.
    All Right Reserved.
</pre></footer>
{% endblock body %}