{% extends 'main.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/request.css' %}">
{% endblock css %}
{% block body %}
<div id="main_div">
    <span id="span" onclick="span()">+</span>
    <div id="text_div">
        <h3 id="h3_heading">Request a Call Back</h3>
        <small id="small_heading">  Fill the form below to request callback from our team</small>
        <form id="form" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="name" class="inputs">Name</label>
                <input type="text" name="name" id="name" class="inputs1" placeholder="enter name" required>
            </div>
            <div class="form-group">
                <label for="phone" class="inputs">phone</label>
                <input type="number" name="phone" id="phone" class="inputs1" placeholder="enter phone no">
            </div>
            <div class="form-group">
                <label for="date" class="inputs">Select Date and Time</label>
                <input type="datetime-local" name="date" id="date" class="inputs1">
            </div>
            <div class="form-group" id="button">
                <button id="submit_button">submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock body %}
{{% block js %}
<script src="{% static 'js/request.js' %}"></script>
{% endblock js %}}